html{
    font-size: 10px;
}

h1{
    font-family: cursive;
    text-align: center;
    font-size: 10rem;
    font-weight: 500;
    margin: 2rem 0;
    letter-spacing: -1px;
    color: #000;
}

@font-face {
    font-family: 'billabong';
    src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
}

.photoGrid{
    max-width: 1000;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.figure{
    flex-basis:calc(33.333%);
    border: 4px solid #d3d3d3;
    padding: 2rem;
    flex-grow: 1;
    margin: 0 2rem 2rem 2rem;
}